apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-deployment
spec:
  replicas: 2
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend
          image: asia-south1-docker.pkg.dev/winged-idiom-477303-t8/backend-repo/backend-app:13
          ports:
            - containerPort: 8080
